html,
body {
  height: 100%;
}

h6 {
  font-weight: normal;
}

#map-container {
  margin: 0;
  padding: 0;
}

#mapid {
  height: 100%;
}

#nbhd-container.panel {
  min-width: 200px;
  max-width: 200px;
}

#right-container.panel {
  min-width: 350px;
}

/* Add halo effect to pie chart labels*/
.shadow-stroke {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* Right panel tabs */
.tab-container {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nav-tabs > a {
  background-color: #7eba49;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.nav-tabs > a:hover {
  background-color: #f7f7f7;
  margin-bottom: -0.1em;
  border: 1px solid gray !important;
}
.nav-tabs > a:hover:not(.active) .panel-icon {
  color: #437739;
}
.nav-tabs > .active {
  background-color: #437739 !important;
  margin-bottom: -0.1em;
}
.panel-icon {
  color: #f7f7f7;
}

/* Right panel header */
.panel-header {
  background-color: #437739;
  color: #f7f7f7;
  height: 40px;
  border: none;
  padding-top: 2px;
}

/* Icons in the introduction panel */
.intro-icon {
  color: #157a75;
}

/* Place scroll bar below header */
.content-inner {
  position: absolute;
  top: 83px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  /* border-top: 1px solid #7eba49; */
  width: 100%;
}

/* Leaflet legend */
.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 5px;
  left: 0px;
  bottom: 0px;
}
/* Legend items */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

/* Right side Leaflet controls positioning */
.on-right {
  right: 0px !important;
}

/* Sidebar */
.leaflet-sidebar-header,
.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active {
  background-color: #7eba49 !important;
}
/* Place scroll bar below header*/
.leaflet-sidebar-inner {
  position: absolute;
  top: 40px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  width: 100%;
}
.leaflet-sidebar.collapsed > .leaflet-sidebar-inner {
  overflow: hidden;
}

/* Leaflet popup */
.popup-custom .leaflet-popup-tip {
  opacity: 0.65;
  margin: -13px auto 0;
}
.popup-custom .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.popup-custom .leaflet-popup-content {
  margin: 6px;
}

/* Stacked bar legend */
.key-dot {
  display: inline-block;
  margin-right: 0.5em;
}

/* Leaflet search tool */
.search-input {
  font-size: 1.25em;
}

/* Prevent the highlighting of text */
.unselectable,
.panel-header,
.leaflet-popup-content,
.leaflet-control-zoomhome,
.leaflet-control-layers,
.leaflet-sidebar-header,
.leaflet-control-attribution,
svg {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* On medium screens, hide the right panel and show sidebar */
@media only screen and (max-width: 991px) {
  #right-container {
    display: none !important;
  }
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    transition: right 500ms !important;
  }
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    right: 315px !important;
  }
  .leaflet-sidebar.collapsed ~ .leaflet-control-container .leaflet-right {
    right: 50px !important;
  }
}

/* On even smaller screens hide the left panel*/
@media only screen and (max-width: 768px) {
  #nbhd-container,
  .leaflet-control-fullscreen {
    display: none !important;
  }
  #header,
  h1 {
    font-size: 1.2em;
  }
  .leaflet-sidebar.collapsed ~ .leaflet-control-container .leaflet-right {
    right: 40px !important;
  }
}
