html,
body {
  height: 100%;
}

#maxbtn {
  top: 11px;
  right: 65px;
  z-index: 400;
}

#map-container {
  margin: 0;
  padding: 0;
}

#mapid {
  height: 100%;
}

#sources {
  list-style-position: inside;
  padding-left: 0;
  font-size: 1.2em;
}

/* Add halo effect to pie chart labels*/
.shadow-stroke {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.panel {
  min-width: 200px;
  max-width: 300px;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 5px;
  left: 10px;
  bottom: 10px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

.leaflet-bottom {
  z-index: 800 !important;
}

.leaflet-sidebar-header,
.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active {
  background-color: #7eba49 !important;
}

/* 64-77 Make the scroll bar in the sidebar sit below the header */
.leaflet-sidebar-inner {
  position: absolute;
  top: 40px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: auto;
  width: 100%;
}

.leaflet-sidebar.collapsed > .leaflet-sidebar-inner {
  overflow: hidden;
}

.popup-custom .leaflet-popup-tip {
  opacity: 0.65;
  margin: -13px auto 0;
}

.popup-custom .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.popup-custom .leaflet-popup-content {
  margin: 6px;
}

/* Prevent the highlighting of text */
.unselectable,
.leaflet-control-zoomhome,
.leaflet-control-layers,
.leaflet-sidebar-header,
.leaflet-control-attribution,
svg {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  .footer,
  .panel {
    display: none !important;
  }
  .header,
  h1 {
    font-size: 1.2em;
  }
}
